.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.hero {
    min-height: 100vh;
}


h1 {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h3 {
    font-size: 6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}